/*

FirstColor: #08526d
secondColor: #ec1c23
*/



/* Start Header Bar */
.upper-bar {
  margin-left: 310px;
  background-color: #673075;
  color: #fff;
  padding: 10px;
  width: 650px;
  text-align: center;
}


input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 650px;
}

form {
  margin-right: 180px;
  margin-left: 180px;
  text-align: left;
}


label {
  text-align: left;
}

h2 {
  display: block;
  background-color: #2c3e50;
  width: 650px;
  height: 50px;
  color: white;

}

form.fieldset {
  border: 1px solid grey;
}

.btn {
  margin-right: 286px;
  margin-left: 286px;
}

button {
  height: 50px;
}